.sidenav-container {
    width: 100%;
    height: calc(100% - 64px);
    .sidenav-content {
        width: calc(100% - 4rem);
        padding: 0 2rem;
        overflow-x: hidden;
    }
}
.docs-title {
    margin: 0 1rem;
}

@media only screen and (max-width: 599px) {
    .sidenav-container {
        height: calc(100% - 56px);
        .sidenav-content {
            width: calc(100% - 2rem);
            padding: 0 1rem;
            overflow-x: hidden;
        }
    }
}